@import "src/scss/mixins";

.record {
  display: flex;
  width: 100%;
  position: relative;
  transition: all 0.3s;

  &-data {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px !important;
    height: 100px !important;
    border-radius: 100% !important;
    overflow: hidden !important;
    box-shadow: 0 0 20px rgba(0, 0 , 0, 0.05) !important;
  }

  &:not(.placeholder):hover {
    box-shadow: 0 0 20px rgba(0, 0 , 0, 0.15) !important;
  }
}

.placeholder {
  @include loading-placeholder();
}
