@import "src/scss/variables";
@import "src/scss/mixins";

.sign-in-form {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: $white-color;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 20%);
  transform: translate(-50%, -50%);

  .form__header {
    width: 100%;
    text-align: center;
    user-select: none;

    h1 {
      margin: 1.5rem 0;
      font-size: 2.5em;
    }

    p {
      margin-bottom: 1.5rem;
      color: darken($main-color, 20%);
      font-size: 1.6em;
      line-height: 1.7em;
    }
  }

  .form_inputs {
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
      position: relative;
      display: block;
      margin: 0 0 1.5em;

      input {
        width: calc(100% - 2em);
        height: 1.8em;
        padding: 5px 1em;
        color: $font-main-color;
        font-size: 1.2em;
        background-color: rgba(0, 0, 0, 5%);
        border: none;
        border-radius: 0;
        outline: none;
        transition: all ease-in-out 0.1s;

        &:focus, &:hover {
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 20%);
        }
      }

      input:focus {
         ~ .top,
         ~ .left,
         ~ .right,
         ~ .bottom {
          opacity: 1;
        }
      }

      @include hover-border($main-color, 0, 150px, (44.55px/2), 1px);
    }
  }

  .form__buttons {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    button {
      position: relative;
      width: 170px;
      margin-bottom: 1em;
      padding: 10px 2.5em;
      overflow: hidden;
      color: $font-main-color;
      font-size: 1.2em;
      background-color: rgba(0, 0, 0, 3%);
      border: none;
      outline: none;
      cursor: pointer;
      transition: all ease-in-out 0.1s;

      &:disabled {
        background-color: rgba(0, 0, 0, 10%);
      }

      &:hover:disabled {
        cursor: default;
      }

      &:hover:enabled {
        color: $font-main-color;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 20%);

        &:active {
          background-color: rgba(0, 0, 0, 10%);
        }

        @include hover-border($main-color, 0, 70px, (44.55px / 2), 1px);
      }
    }
  }
}
