@import "~src/scss/variables";

:host {
  padding: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background-color: $WHITE_COLOR;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
}
