header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 64px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .logo {
      padding-right: 60px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      li {
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
