<header>
  <div class="container-fluid">
    <div class="menu">
      <div class="logo">Time Watcher</div>
      <ng-container *ngIf="windowSizes.width > 767">
        <ul>
          <li>TimesSheet</li>
          <li>Reports</li>
          <li>Projects</li>
          <li>Computer Time</li>
        </ul>
      </ng-container>
    </div>
    <div class="settings">
      <ng-container *ngIf="windowSizes.width > 767">
        Settings
      </ng-container>
      <ng-container *ngIf="windowSizes.width < 769">
        Burger menu
      </ng-container>
    </div>


  </div>
</header>
