<header>
  <div class="menu">
    <a class="logo" routerLink="/home">{{ logo }}</a>
    <ng-container *ngIf="(windowDimensions$ | async).width > 767">
      <ul>
        <li><a routerLink="/timesheet" routerLinkActive="active">Timesheet</a></li>
        <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
        <li><a routerLink="/reports" routerLinkActive="active">Reports</a></li>
      </ul>
    </ng-container>
  </div>
  <button (click)="openDrawer()" class="settings">
    <div class="burger">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </button>
</header>
