<div
  *ngIf="sideBarState"
  (click)="closeSideBar()"
  class="overlay"
></div>
<div
  *ngIf="sideBarState"
  @slide
  class="side-bar"
>
  <div class="side-bar__header">
    <div class="side-bar__close" (click)="closeSideBar()">
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
  <div class="side-bar__content">
    <ng-container *ngIf="window.width < 768">
      <h2>Menu</h2>
      <ul>
        <li><a routerLink="/timesheets">Timesheets</a></li>
        <li><a routerLink="/projects">Projects</a></li>
        <li><a routerLink="/reports">Reports</a></li>
      </ul>
    </ng-container>
    <h2>Settings</h2>
    <ul>
      <li>My profile</li>
      <li>Users</li>
      <li>General</li>
      <li>Sign out</li>
    </ul>
  </div>
</div>
