@mixin hover-border($color, $mb, $hw, $vw, $lineWidth) {
  &:hover {
    .top,
    .left,
    .right,
    .bottom {
      opacity: 1;
    }

    .left, .right {
      animation-name: vertical;
    }

    .top, .bottom {
      animation-name: horizontal;
    }
  }

  .top, .left, .right, .bottom {
    display: block;
    opacity: 0;
    position: absolute;
    background-color: $color;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.77, 0.2, 0.05, 1);
    animation-iteration-count: 1;
    animation-duration: 0.3s;
  }

  .top, .left, {
    top: 0;
  }

  .right, .bottom {
    bottom: $mb;
  }

  .left, .right {
    width: $lineWidth;
    height: $vw;
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }

  .top, .bottom {
    width: $hw;
    height: $lineWidth;
  }

  .top {
    left: 0;
  }

  .bottom {
    right: 0;
  }

  @keyframes vertical {
    0% {
      height: 0;
    }

    100% {
      height: $vw !important;
    }
  }

  @keyframes horizontal {
    0% {
      width: 0;
    }

    100% {
      width: $hw !important;
    }
  }
}

@mixin hover-list-item($underscoreColor) {
  cursor: pointer;
  position: relative;
  outline: none;

  a {
    color: #000;
    text-decoration: none;
  }

  &:after {
    content: '';
    width: 0;
    position: absolute;
    bottom: -5px;
    left: 0;
    opacity: 0;
    transition: all 0.3s;
    background-color: $underscoreColor;
    height: 2px;
  }

  &:hover {

    &:after {
      width: 100%;
      opacity: 1;
    }
  }
}

@mixin loading-placeholder() {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  height: 200px;
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(to right, transparent 0%, #E8E8E8 50%, transparent 100%);
    animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
  }

  @keyframes load {
    from {
      left: -150px;
    }
    to   {
      left: 100%;
    }
  }
}
