<div class="timesheets__container">
  <div @slideRight class="timesheets__list">
    <div class="timesheets__list_week-selector">
      <div class="prev"><</div>
      <div class="calendar">
        <img src="../../../../../assets/icons/calendar.svg" alt="calendar">
      </div>
      <div class="next">></div>
    </div>
    <div class="date-range">{{dateRange}}</div>
    <ul class="timesheets__list_days">
      <li>
        <div>Monday</div>
      </li>
      <li>
        <div>Tuesday</div>
      </li>
      <li>
        <div>Wednesday</div>
      </li>
      <li>
        <div>Thursday</div>
      </li>
      <li>
        <div>Friday</div>
      </li>
      <li>
        <div>Saturday</div>
      </li>
      <li>
        <div>Sunday</div>
      </li>
    </ul>
  </div>
  <app-daily-time-sheets @slideLeft></app-daily-time-sheets>
</div>
